    /*Underline anim Light*/
.hover-underline-animation-light {
  display: inline-block;
  position: relative;
  color: black;
}
.hover-underline-animation-light:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-light:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
    /*Underline anim Dark*/
.hover-underline-animation-dark {
  display: inline-block;
  position: relative;
  color: white;
}
.hover-underline-animation-dark:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-dark:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
    /*Underline anim Dynamic*/
.hover-underline-animation-dynamic {
  display: inline-block;
  position: relative;
  color: black;
}
.hover-underline-animation-dynamic:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation-dynamic:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (prefers-color-scheme: dark) {
    .hover-underline-animation-dynamic {
      display: inline-block;
      position: relative;
      color: white;
    }
    .hover-underline-animation-dynamic:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    .hover-underline-animation-dynamic:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}