@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800;900&display=swap');
/*Font Weight guide
Light = 300
Regular = 400
Bold = 700
ExtraBold = 800
Black = 900
*/
html {
  scroll-behavior: smooth;
}
:root {
    --bg: white;
    --textL: black;
    --textD: white;
    --purple: #7413DC;
    --purple-darker: #490499;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202020;
    --textL: black;
    --textD: white;
    --purple: #7413DC;
    --purple-darker: #490499;
  }
}
.material-icons {
  vertical-align: middle;
  transform: translateY(-2px);
}
body {
  color: var(--text);
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg);
  margin: 0;
}
a {
  color: var(--text);
  text-decoration: none;
}
.aAlt {
  color: white;
  text-decoration: none;
}
#group-logo {
  height: 75px;
  transition: 0.2s;
}
.header-dynamic {
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  font-size: 22px;
  transition: 0.2s;
}
.header-items {
  padding: 20px;
  margin: 10px;
}
header > div > h3 {
  cursor: pointer;
}
.banner-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-bg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}
.banner-bg img {
  display: block;
  width: 100%;
}
.banner-bg .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--purple-darker);
  color: white;
}
.footer-row {
  display: flex;
  flex-direction: row;
  align-items: normal;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}
.footer-row-image {
  display: flex;
  flex-direction: row;
  align-items: normal;
  margin: 10px;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}
.footer-heading {
  font-weight: bold;
}
.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}